In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("Salaries.csv", low_memory = False)

In [9]:
df.head(2)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN

### üìå EXERC√çCIO 1 ‚Äî Limpeza m√≠nima e verifica√ß√£o
Quero que voc√™ converta a coluna BasePay para n√∫mero de forma correta e segura.
Tarefa:

Converta a coluna BasePay para tipo num√©rico usando pd.to_numeric com errors="coerce".

Depois, mostre o tipo final dessa coluna usando df["BasePay"].dtype.

Seu resultado deve ser um dtype igual a float64.

In [21]:
df["BasePay"] = pd.to_numeric(df["BasePay"], errors = "coerce")

In [24]:
df["BasePay"].dtype

dtype('float64')

### üìå EXERC√çCIO 2 ‚Äî Identificar nulos e interpretar corretamente
Tarefa:

Mostre quantos valores nulos existem na coluna BasePay usando:

df["BasePay"].isnull().sum()


Interprete o resultado em uma frase simples, dizendo por que existem nulos ap√≥s a convers√£o e se isso √© esperado ou preocupante dentro dessa base.

In [32]:
df["BasePay"].isnull().sum()

np.int64(609)

In [36]:
df.isna().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                609
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

In [37]:
df["BasePay"]

0         167411.18
1         155966.02
2         212739.13
3          77916.00
4         134401.60
            ...
148649         0.00
148650          NaN
148651          NaN
148652          NaN
148653         0.00
Name: BasePay, Length: 148654, dtype: float64

### üìå EXERC√çCIO 3 ‚Äî Encontrar o maior sal√°rio base (BasePay) e a pessoa correspondente
Tarefa:

1. Encontre o maior valor da coluna BasePay.
Dica: use .max().

2. Encontre a linha completa da pessoa que possui esse maior sal√°rio base.
Dica: use:

*df.loc[df["BasePay"].idxmax()]*


ou, se preferir o estilo tradicional:

*df[df["BasePay"] == df["BasePay"].max()]*


(Os dois funcionam; escolha um.)

3. Interprete: o nome da pessoa e quanto ela ganha de BasePay.

Envie para mim:

* O valor m√°ximo encontrado

* A linha ou informa√ß√µes da pessoa

* Uma frase interpretando o resultado

Exemplo da frase esperada:

‚ÄúA pessoa com maior BasePay √© X, com sal√°rio Y.‚Äù

In [38]:
df["BasePay"].max()

319275.01

In [42]:
df.loc[df["BasePay"].idxmax()]

Id                            72926
EmployeeName         Gregory P Suhr
JobTitle            Chief of Police
BasePay                   319275.01
OvertimePay                     0.0
OtherPay                   20007.06
Benefits                   86533.21
TotalPay                  339282.07
TotalPayBenefits          425815.28
Year                           2013
Notes                           NaN
Agency                San Francisco
Status                          NaN
Name: 72925, dtype: object

### üìå EXERC√çCIO 4 ‚Äî Quem √© a pessoa mais mal paga?
1. Encontre o menor valor de BasePay (m√≠nimo).
Dica: df["BasePay"].min()
2. Recupere a linha completa dessa pessoa.
Dica:

df.loc[df["BasePay"].idxmin()]

3.  Interprete:

* Nome

* Cargo

* BasePay

* Se o sal√°rio parece leg√≠timo ou se √© provavelmente um problema de dados

In [43]:
df["BasePay"].min()

-166.01

In [44]:
df.loc[df["BasePay"].idxmin()]

Id                           72833
EmployeeName        Irwin Sidharta
JobTitle              Junior Clerk
BasePay                    -166.01
OvertimePay                 249.02
OtherPay                       0.0
Benefits                      6.56
TotalPay                     83.01
TotalPayBenefits             89.57
Year                          2012
Notes                          NaN
Agency               San Francisco
Status                         NaN
Name: 72832, dtype: object

### üìå EXERC√çCIO 5 ‚Äî Quantos t√≠tulos de trabalho (Job Titles) existem?
1. Conte quantos cargos diferentes existem na coluna JobTitle.
Dica:

df["JobTitle"].nunique()

2. Conte quantos funcion√°rios existem por cargo.
Dica:

df["JobTitle"].value_counts()

3. Me diga:

* Quantos cargos √∫nicos existem

* Qual √© o cargo mais comum

* Quantas pessoas ocupam esse cargo

In [45]:
df["JobTitle"].nunique()

2159

In [46]:
df["JobTitle"].value_counts()

JobTitle
Transit Operator                      7036
Special Nurse                         4389
Registered Nurse                      3736
Public Svc Aide-Public Works          2518
Police Officer 3                      2421
                                      ...
Light Rail Vehicle Equip Eng             1
Civil Case Settlmnt Specialist           1
ADMINISTRATOR, SFGH MEDICAL CENTER       1
CHIEF OF POLICE                          1
Special Assistant 8                      1
Name: count, Length: 2159, dtype: int64

### üìå EXERC√çCIO 6 ‚Äî Quantas pessoas t√™m a palavra ‚Äúchief‚Äù no cargo?
Esse exerc√≠cio treina filtro por string, algo essencial em an√°lises reais.

1. Filtrar todas as linhas onde JobTitle cont√©m a palavra ‚Äúchief‚Äù, ignorando mai√∫sculas/min√∫sculas.
Dica:
df["JobTitle"].str.contains("chief", case=False, na=False)

2. Contar quantas pessoas possuem essa caracter√≠stica.

3. Me dizer:

* Quantas pessoas t√™m ‚Äúchief‚Äù no cargo

* Se esse n√∫mero te surpreendeu ou n√£o ‚Äî e por qu√™

In [57]:
df["JobTitle"].str.contains("chief",case=False,na=False).sum()

np.int64(627)

### üìå EXERC√çCIO 7 ‚Äî Qual √© a m√©dia de TotalPayBenefits por ano?
1. Calcule a m√©dia anual da coluna TotalPayBenefits.
Dica:

df.groupby("Year")["TotalPayBenefits"].mean()

2. Interprete:

Qual ano teve a maior m√©dia?

A diferen√ßa entre os anos √© grande ou pequena?

In [60]:
df.groupby("Year")["TotalPayBenefits"].mean()

Year
2011     71744.103871
2012    100553.229232
2013    101440.519714
2014    100250.918884
Name: TotalPayBenefits, dtype: float64

### EXERC√çCIO 8 ‚Äî Qual cargo teve a maior m√©dia de TotalPayBenefits?
Agora voc√™ vai juntar tudo:

* groupby
* ordena√ß√£o
* interpreta√ß√£o de cargo

1. Calcule a m√©dia de TotalPayBenefits para cada cargo:
2. Ordene do maior para o menor:
3. Pegue o top 1 (maior m√©dia salarial)
4. Interprete:

* Qual √© o cargo mais bem pago em m√©dia?

* O valor faz sentido ou parece distor√ß√£o?

* Voc√™ acha que √© um cargo com poucos registros?

In [68]:
df.groupby("JobTitle")["TotalPayBenefits"].mean().sort_values(ascending=False)

JobTitle
Chief Investment Officer                          436224.360000
Chief of Police                                   411732.266667
Chief, Fire Department                            408865.326667
GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY    399211.275000
Gen Mgr, Public Trnsp Dept                        380696.440000
                                                      ...
BOARD/COMMISSION MEMBER, GROUP III                   638.787879
BdComm Mbr, Grp2,M=$25/Mtg                           475.047742
BOARD/COMMISSION MEMBER, GROUP II                    296.511628
PUBLIC SAFETY COMMUNICATIONS TECHNICIAN              149.510000
Not provided                                           0.000000
Name: TotalPayBenefits, Length: 2159, dtype: float64

In [69]:
df["JobTitle"].value_counts()["Chief Investment Officer"]

np.int64(1)

### EXERC√çCIO 9 ‚Äî Quais cargos t√™m m√©dia salarial acima de 200.000 d√≥lares?
1. Calcule
df.groupby("JobTitle")["TotalPayBenefits"].mean()
2. Filtre apenas cargos com m√©dia acima de 200.000.
3. Liste:

Nome do cargo

M√©dia salarial

4. Interprete:

Esses cargos parecem leg√≠timos ou s√£o outliers?

S√£o cargos com muitos ou poucos registros?

In [70]:
df.groupby("JobTitle")["TotalPayBenefits"].mean()

JobTitle
ACCOUNT CLERK                                     44035.664337
ACCOUNTANT                                        47429.268000
ACCOUNTANT INTERN                                 29031.742917
ACPO,JuvP, Juv Prob (SFERS)                       80266.370000
ACUPUNCTURIST                                     67594.400000
                                                      ...
X-RAY LABORATORY AIDE                             52705.880385
X-Ray Laboratory Aide                             69521.123200
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS    53632.870000
Youth Comm Advisor                                60118.550000
ZOO CURATOR                                       66686.560000
Name: TotalPayBenefits, Length: 2159, dtype: float64

In [73]:
media_por_cargo = df.groupby("JobTitle")["TotalPayBenefits"].mean()

In [77]:
media_acima_200k = media_por_cargo[media_por_cargo > 200000]

In [78]:
media_acima_200k.sort_values(ascending=False)

JobTitle
Chief Investment Officer                            436224.360000
Chief of Police                                     411732.266667
Chief, Fire Department                              408865.326667
GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY      399211.275000
Gen Mgr, Public Trnsp Dept                          380696.440000
                                                        ...
Assistant Inspector 2                               201184.724000
DEPUTY DIRECTOR II - MUNICIPAL TRANSPORTATION AG    200921.488000
Supervising Pharmacist                              200822.078095
Chief Dep Adlt Prob Of (SFERS)                      200616.833333
Transmission Line Supervisor 1                      200389.980000
Name: TotalPayBenefits, Length: 114, dtype: float64

In [79]:
media_acima_200k

JobTitle
ADMINISTRATOR, SFGH MEDICAL CENTER                  257124.440000
ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)    203427.850000
ASSISTANT DEPUTY CHIEF II                           228724.506000
ASSISTANT MEDICAL EXAMINER                          212793.172000
Adm, SFGH Medical Center                            347079.706667
                                                        ...
Supervising Physician Spec                          244458.533269
Transmission Line Supervisor 1                      200389.980000
Treasurer                                           231371.396667
Trnst Power Line Wrk Sprv 2                         214776.440000
Wire Rope Cable Maint Sprv                          242118.323333
Name: TotalPayBenefits, Length: 114, dtype: float64

In [80]:
media_acima_200k.count()

np.int64(114)

In [81]:
df["JobTitle"].value_counts()["ADMINISTRATOR, SFGH MEDICAL CENTER"]

np.int64(1)

### Exerc√≠cio 10 ‚Äî Quantas pessoas trabalham exatamente no cargo ‚ÄúTransit Operator‚Äù e qual √© o sal√°rio m√©dio delas?

In [86]:
df["JobTitle"].value_counts()["Transit Operator"]

np.int64(7036)

In [83]:
df[df["JobTitle"] == "Transit Operator"]["TotalPayBenefits"].mean()

np.float64(92066.74444997158)