## Import o pacote pandas

In [4]:
import pandas as pd
import numpy as np

## Leia o arquivo csv como um dataframe pandas

In [8]:
df = pd.read_csv("Salaries.csv", low_memory=False)

# Visualize o head do dataframe
df.head() é simplesmente a maneira mais rápida e prática de ver se seu DataFrame carregou certo.
Ele mostra, por padrão, as 5 primeiras linhas do DataFrame. Nada mais.

In [12]:
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

## Verifique os nulos e os tipos dos dados

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [20]:
df.isna().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

## Descubra o volume de dados que o dataframe possui

In [15]:
df.count()

Id                  148654
EmployeeName        148654
JobTitle            148654
BasePay             148049
OvertimePay         148654
OtherPay            148654
Benefits            112495
TotalPay            148654
TotalPayBenefits    148654
Year                148654
Notes                    0
Agency              148654
Status               38119
dtype: int64

In [17]:
len(df)

148654

## Qual é o BasePay médio?

In [19]:
df["BasePay"]

0            167411.18
1            155966.02
2            212739.13
3              77916.0
4             134401.6
              ...
148649            0.00
148650    Not Provided
148651    Not Provided
148652    Not Provided
148653            0.00
Name: BasePay, Length: 148654, dtype: object

"Note Provided" está sendo tratado como String pois não tem como transformar em número, porque é um texto, isso está atrapalhando a base de dados.

In [37]:
df = df[~(df["BasePay"] == "Not Provided")] #Pegue todas as linhas onde BasePay NÃO é "Not Provided". Exclua o resto.

In [36]:
df["BasePay"] = df["BasePay"].astype(float) # Pegue a coluna BasePay, converta para float e SALVE o resultado de volta nessa coluna.

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 148650 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148650 non-null  int64
 1   EmployeeName      148650 non-null  object
 2   JobTitle          148650 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  object
 5   OtherPay          148650 non-null  object
 6   Benefits          112491 non-null  object
 7   TotalPay          148650 non-null  float64
 8   TotalPayBenefits  148650 non-null  float64
 9   Year              148650 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148650 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(4), int64(2), object(7)
memory usage: 15.9+ MB

## Qual é o maior OvertimePay do dataset?

In [77]:
df["OvertimePay"] = pd.to_numeric(df["OvertimePay"], errors="coerce")

In [78]:
df["OvertimePay"].astype(float).max()

245131.88

In [79]:
valor_maximo = df["OvertimePay"].astype(float).max()

In [80]:
df[df["OvertimePay"]==valor_maximo]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN

## Qual é o cargo de JOSEPH DRISCOLL?

In [82]:
df[df["EmployeeName"] == "JOSEPH DRISCOLL"]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
24,25,JOSEPH DRISCOLL,"CAPTAIN, FIRE SUPPRESSION",140546.86,97868.77,31909.28,NaN,270324.91,270324.91,2011,NaN,San Francisco,NaN

In [83]:
df[df["EmployeeName"] == "JOSEPH DRISCOLL"] ["JobTitle"]

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

## Quanto ele ganha, incluindo benefícios?

In [84]:
df[df["EmployeeName"] == "JOSEPH DRISCOLL"] ["TotalPay"]

24    270324.91
Name: TotalPay, dtype: float64

## Quem é a pessoa que tem o maior salário base?

In [85]:
df["BasePay"].max()

319275.01

In [91]:
df[df["BasePay"] == df["BasePay"].max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
72925,72926,Gregory P Suhr,Chief of Police,319275.01,0.0,20007.06,86533.21,339282.07,425815.28,2013,NaN,San Francisco,NaN

## Quem é a pessoa mais mal paga?

In [92]:
df[df["BasePay"] == df["BasePay"].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
72832,72833,Irwin Sidharta,Junior Clerk,-166.01,249.02,0.0,6.56,83.01,89.57,2012,NaN,San Francisco,NaN

## Qual a média salarial por ano?

In [94]:
df["Year"].value_counts()

Year
2014    38119
2013    37606
2012    36766
2011    36159
Name: count, dtype: int64

In [95]:
df.groupby("Year").agg({"BasePay":["mean"]})

           BasePay
              mean
Year
2011  63595.956517
2012  65436.406857
2013  69630.030216
2014  66564.421924

## Quantos títulos de trabalho existem?

In [96]:
df["JobTitle"].nunique()

2158

## Quais são os cinco principais empregos mais comuns?

In [98]:
df["JobTitle"].value_counts()

JobTitle
Transit Operator                      7036
Special Nurse                         4389
Registered Nurse                      3736
Public Svc Aide-Public Works          2518
Police Officer 3                      2421
                                      ...
IS Technician Assistant                  1
Chief Investment Officer                 1
ADMINISTRATOR, SFGH MEDICAL CENTER       1
DEPUTY DIRECTOR OF INVESTMENTS           1
HEAD PHOTOGRAPHER                        1
Name: count, Length: 2158, dtype: int64

## Quantas pessoas têm a palavra chefe em seu cargo? (complicado)

In [99]:
def chefe(x):
  if "chief" in x.lower():
    return True
  else:
    return False

df[df["JobTitle"].apply(chefe)]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.00,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.90,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.00,0.00,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
138011,138012,Sharon C Jackson,Chief Deputy Adlt Probation Of,56660.18,0.00,0.00,566.61,56660.18,57226.79,2014,NaN,San Francisco,PT
139620,139621,Anita S Lee,Chief Clerk,38598.86,0.00,0.00,386.00,38598.86,38984.86,2014,NaN,San Francisco,PT
139709,139710,George D Vaughan,Chief Nursery Specialist,27319.47,483.90,0.00,10334.67,27803.37,38138.04,2014,NaN,San Francisco,PT
140080,140081,Patrick W Gillespie,Chief Preparator,24091.00,0.00,0.00,10176.77,24091.00,34267.77,2014,NaN,San Francisco,PT
140156,140157,Christopher L Ochoa,Chief Stationary Engineer,24392.00,418.71,0.00,8918.44,24810.71,33729.15,2014,NaN,San Francisco,PT

In [100]:
len(df[df["JobTitle"].apply(chefe)]["EmployeeName"].unique())

517